:root {
  /* TOKENS */
  --text-primary-light-mode: var(--neutral-950);
  --text-primary-dark-mode: var(--neutral-50);
  --text-secondary-light-mode: var(--neutral-500);
  --text-secondary-dark-mode: var(--neutral-100);
  --text-tertiary-light-mode: var(--neutral-400);
  --text-tertiary-dark-mode: var(--neutral-200);
  --text-quarternary-light-mode: var(--neutral-300);
  --text-quarternary-dark-mode: var(--neutral-300);
  --text-inverted-light-mode: var(--neutral-0);
  --text-inverted-dark-mode: var(--neutral-1000);
  --text-brand-light-mode: var(--primary-700);
  --text-brand-dark-mode: var(--primary-200);
  --text-link-light-mode: var(--primary-800);
  --text-link-dark-mode: var(--primary-400);
  --text-on-inverted-primary-light-mode: var(--neutral-0);
  --text-on-inverted-primary-dark-mode: var(--neutral-900);
  --text-on-inverted-secondary-light-mode: var(--neutral-200);
  --text-on-inverted-secondary-dark-mode: var(--neutral-600);
  --text-on-brand-primary-light-mode: var(--neutral-0);
  --text-on-brand-primary-dark-mode: var(--neutral-0);
  --text-on-brand-secondary-light-mode: var(--purple-100);
  --text-on-brand-secondary-dark-mode: var(--purple-50);
  --text-on-accent-primary-light-mode: var(--neutral-0);
  --text-on-accent-primary-dark-mode: var(--neutral-1000);
  --text-on-accent-secondary-light-mode: var(--purple-100);
  --text-on-accent-secondary-dark-mode: var(--purple-50);
  --border-primary-light-mode: var(--neutral-400);
  --border-primary-dark-mode: var(--neutral-300);
  --border-on-inverted-light-mode: var(--neutral-100);
  --border-on-inverted-dark-mode: var(--neutral-300);
  --border-on-brand-light-mode: var(--primary-200);
  --border-on-brand-dark-mode: var(--primary-800);
  --border-on-accent-light-mode: var(--purple-200);
  --border-on-accent-dark-mode: var(--purple-800);
  --text-code-light-mode: var(--orange-600);
  --text-code-dark-mode: var(--orange-200);
  --text-code-inverted-light-mode: var(--orange-200);
  --text-code-inverted-dark-mode: var(--orange-600);
  --bg-canvas-light-mode: var(--neutral-50);
  --bg-canvas-dark-mode: var(--neutral-950);
  --bg-primary-light-mode: var(--neutral-0);
  --bg-primary-dark-mode: var(--neutral-1000);
  --bg-secondary-light-mode: var(--neutral-100);
  --bg-secondary-dark-mode: var(--neutral-900);
  --bg-tertiary-light-mode: var(--neutral-200);
  --bg-tertiary-dark-mode: var(--neutral-800);
  --bg-inverted-light-mode: var(--neutral-950);
  --bg-inverted-dark-mode: var(--neutral-100);
  --bg-brand-light-mode: var(--primary-800);
  --bg-brand-dark-mode: var(--primary-200);
  --bg-accent-light-mode: var(--blue-100);
  --bg-accent-dark-mode: var(--blue-700);
  --text-disabled-light-mode: var(--neutral-500);
  --text-disabled-dark-mode: var(--neutral-500);
  --border-disabled-light-mode: var(--neutral-200);
  --border-disabled-dark-mode: var(--neutral-400);
  --primary-50-light-mode: var(--blue-50);
  --primary-50-dark-mode: var(--blue-50);
  --primary-100-light-mode: var(--blue-100);
  --primary-100-dark-mode: var(--blue-100);
  --primary-200-light-mode: var(--blue-200);
  --primary-200-dark-mode: var(--blue-200);
  --primary-300-light-mode: var(--blue-300);
  --primary-300-dark-mode: var(--blue-300);
  --primary-400-light-mode: var(--blue-400);
  --primary-400-dark-mode: var(--blue-400);
  --primary-500-light-mode: var(--blue-500);
  --primary-500-dark-mode: var(--blue-500);
  --primary-600-light-mode: var(--blue-600);
  --primary-600-dark-mode: var(--blue-600);
  --primary-700-light-mode: var(--blue-700);
  --primary-700-dark-mode: var(--blue-700);
  --primary-800-light-mode: var(--blue-800);
  --primary-800-dark-mode: var(--blue-800);
  --primary-900-light-mode: var(--blue-900);
  --primary-900-dark-mode: var(--blue-900);
  --primary-950-light-mode: var(--blue-950);
  --primary-950-dark-mode: var(--blue-950);
  --success-50-light-mode: var(--green-50);
  --success-50-dark-mode: var(--green-50);
  --success-100-light-mode: var(--green-100);
  --success-100-dark-mode: var(--green-100);
  --success-200-light-mode: var(--green-200);
  --success-200-dark-mode: var(--green-200);
  --success-700-light-mode: var(--green-700);
  --success-700-dark-mode: var(--green-700);
  --success-300-light-mode: var(--green-300);
  --success-300-dark-mode: var(--green-300);
  --success-400-light-mode: var(--green-400);
  --success-400-dark-mode: var(--green-400);
  --success-500-light-mode: var(--green-500);
  --success-500-dark-mode: var(--green-500);
  --success-600-light-mode: var(--green-600);
  --success-600-dark-mode: var(--green-600);
  --success-800-light-mode: var(--green-800);
  --success-800-dark-mode: var(--green-800);
  --success-900-light-mode: var(--green-900);
  --success-900-dark-mode: var(--green-900);
  --success-950-light-mode: var(--green-950);
  --success-950-dark-mode: var(--green-950);
  --neutral-50-light-mode: var(--gray-50);
  --neutral-50-dark-mode: var(--gray-50);
  --neutral-100-light-mode: var(--gray-100);
  --neutral-100-dark-mode: var(--gray-100);
  --neutral-200-light-mode: var(--gray-200);
  --neutral-200-dark-mode: var(--gray-200);
  --neutral-300-light-mode: var(--gray-300);
  --neutral-300-dark-mode: var(--gray-300);
  --neutral-400-light-mode: var(--gray-400);
  --neutral-400-dark-mode: var(--gray-400);
  --neutral-500-light-mode: var(--gray-500);
  --neutral-500-dark-mode: var(--gray-500);
  --neutral-600-light-mode: var(--gray-600);
  --neutral-600-dark-mode: var(--gray-600);
  --neutral-700-light-mode: var(--gray-700);
  --neutral-700-dark-mode: var(--gray-700);
  --neutral-800-light-mode: var(--gray-800);
  --neutral-800-dark-mode: var(--gray-800);
  --neutral-900-light-mode: var(--gray-900);
  --neutral-900-dark-mode: var(--gray-900);
  --neutral-950-light-mode: var(--gray-950);
  --neutral-950-dark-mode: var(--gray-950);
  --warning-50-light-mode: var(--yellow-50);
  --warning-50-dark-mode: var(--yellow-50);
  --warning-100-light-mode: var(--yellow-100);
  --warning-100-dark-mode: var(--yellow-100);
  --warning-200-light-mode: var(--yellow-200);
  --warning-200-dark-mode: var(--yellow-200);
  --warning-300-light-mode: var(--yellow-300);
  --warning-300-dark-mode: var(--yellow-300);
  --warning-400-light-mode: var(--yellow-400);
  --warning-400-dark-mode: var(--yellow-400);
  --warning-500-light-mode: var(--yellow-500);
  --warning-500-dark-mode: var(--yellow-500);
  --warning-600-light-mode: var(--yellow-600);
  --warning-600-dark-mode: var(--yellow-600);
  --warning-700-light-mode: var(--yellow-700);
  --warning-700-dark-mode: var(--yellow-700);
  --warning-800-light-mode: var(--yellow-800);
  --warning-800-dark-mode: var(--yellow-800);
  --warning-900-light-mode: var(--yellow-900);
  --warning-900-dark-mode: var(--yellow-900);
  --warning-950-light-mode: var(--yellow-950);
  --warning-950-dark-mode: var(--yellow-950);
  --danger-50-light-mode: var(--red-50);
  --danger-50-dark-mode: var(--red-50);
  --danger-100-light-mode: var(--red-100);
  --danger-100-dark-mode: var(--red-100);
  --danger-200-light-mode: var(--red-200);
  --danger-200-dark-mode: var(--red-200);
  --danger-300-light-mode: var(--red-300);
  --danger-300-dark-mode: var(--red-300);
  --danger-400-light-mode: var(--red-400);
  --danger-400-dark-mode: var(--red-400);
  --danger-500-light-mode: var(--red-500);
  --danger-500-dark-mode: var(--red-500);
  --danger-600-light-mode: var(--red-600);
  --danger-600-dark-mode: var(--red-600);
  --danger-700-light-mode: var(--red-700);
  --danger-700-dark-mode: var(--red-600);
  --danger-800-light-mode: var(--red-800);
  --danger-800-dark-mode: var(--red-800);
  --danger-900-light-mode: var(--red-900);
  --danger-900-dark-mode: var(--red-900);
  --neutral-0-light-mode: var(--white);
  --neutral-0-dark-mode: var(--white);
  --neutral-1000-light-mode: var(--black);
  --neutral-1000-dark-mode: var(--black);
  --fg-light-light-mode: var(--neutral-50);
  --fg-light-dark-mode: var(--neutral-950);
  --fg-dark-light-mode: var(--neutral-950);
  --fg-dark-dark-mode: var(--neutral-50);
  --fg-subtle-light-mode: var(--neutral-500);
  --fg-subtle-dark-mode: var(--neutral-100);
  --fg-disabled-light-mode: var(--neutral-400);
  --fg-disabled-dark-mode: var(--neutral-400);
  --fg-shaded-light-mode: var(--neutral-300);
  --fg-shaded-dark-mode: var(--neutral-700);
  --fg-muted-light-mode: var(--neutral-700);
  --fg-muted-dark-mode: var(--neutral-300);
  --fg-accent-light-mode: var(--purple-800);
  --fg-accent-dark-mode: var(--purple-300);
  --fg-severe-light-mode: var(--red-800);
  --fg-severe-dark-mode: var(--red-300);
  --fg-warning-light-mode: var(--yellow-800);
  --fg-warning-dark-mode: var(--yellow-300);
  --fg-success-light-mode: var(--green-800);
  --fg-success-dark-mode: var(--green-300);
  --fg-link-light-mode: var(--primary-700);
  --fg-link-dark-mode: var(--primary-400);
  --fg-active-light-mode: var(--green-600);
  --fg-active-dark-mode: var(--green-500);
  --bg-accent-emphasis-light-mode: var(--primary-700);
  --bg-accent-emphasis-dark-mode: var(--blue-100);
  --bg-success-light-mode: var(--green-100);
  --bg-success-dark-mode: var(--green-500);
  --bg-success-emphasis-light-mode: var(--green-700);
  --bg-success-emphasis-dark-mode: var(--green-100);
  --bg-warning-light-mode: var(--gold-100);
  --bg-warning-dark-mode: var(--gold-800);
  --bg-warning-emphasis-light-mode: var(--gold-800);
  --bg-warning-emphasis-dark-mode: var(--gold-100);
  --bg-severe-light-mode: var(--red-100);
  --bg-severe-dark-mode: var(--red-500);
  --bg-severe-emphasis-light-mode: var(--red-700);
  --bg-severe-emphasis-dark-mode: var(--red-100);
  --border-active-light-mode: var(--blue-800);
  --border-active-dark-mode: var(--blue-300);
  --bg-disabled-light-mode: var(--neutral-400);
  --bg-disabled-dark-mode: var(--neutral-400);
  --bg-active-light-mode: #ffffff;
  --bg-active-dark-mode: #ffffff;
  --fg-brand-light-mode: var(--blue-600);
  --fg-brand-dark-mode: var(--blue-200);
  --border-brand-light-mode: var(--blue-600);
  --border-brand-dark-mode: var(--blue-200);
  --border-secondary-light-mode: var(--neutral-200);
  --border-secondary-dark-mode: var(--neutral-200);
  --border-hover-light-mode: rgba(0 131 210 / 0.2);
  --border-hover-dark-mode: rgba(0 131 210 / 0.2);
  --text-link-hover-light-mode: var(--blue-800);
  --text-link-hover-dark-mode: var(--blue-300);
  --primary-light-mode: var(--blue-700);
  --primary-dark-mode: var(--blue-700);
  --secondary-light-mode: var(--neutral-500);
  --secondary-dark-mode: var(--neutral-500);
  --success-light-mode: var(--green-700);
  --success-dark-mode: var(--green-700);
  --info-light-mode: #106fdf;
  --info-dark-mode: #106fdf;
  --warning-light-mode: var(--orange-700);
  --warning-dark-mode: var(--orange-700);
  --danger-light-mode: var(--red-700);
  --danger-dark-mode: var(--red-700);
  --light-light-mode: var(--neutral-50);
  --light-dark-mode: var(--neutral-50);
  --dark-light-mode: var(--neutral-950);
  --dark-dark-mode: var(--neutral-950);

  /* TYPOGRAPHY */
  --font-sans-default-16: "Mona Sans";
  --font-sans-large-20: "Mona Sans";
  --font-sans-small-14: "Mona Sans";
  --font-mono-default-16: "Fira Code";
  --font-mono-large-20: "Fira Code";
  --font-mono-small-14: "Fira Code";
  --font-size-base-default-16: 16px;
  --font-size-base-rem-default-16: 1rem;
  --font-size-base-large-20: 20px;
  --font-size-base-rem-large-20: 1.25rem;
  --font-size-base-small-14: 14px;
  --font-size-base-rem-small-14: 0.875rem;
  --font-size-sm-default-16: 14px;
  --font-size-sm-rem-default-16: 0.875rem;
  --font-size-sm-large-20: 16px;
  --font-size-sm-rem-large-20: 1rem;
  --font-size-sm-small-14: 10px;
  --font-size-sm-rem-small-14: 0.625rem;
  --font-size-xxxs-default-16: 8px;
  --font-size-xxxs-rem-default-16: 0.5rem;
  --font-size-xxxs-large-20: 10px;
  --font-size-xxxs-rem-large-20: 0.625rem;
  --font-size-xxxs-small-14: 2px;
  --font-size-xxxs-rem-small-14: 0.125rem;
  --font-size-h3-default-16: 24px;
  --font-size-h3-rem-default-16: 1.5rem;
  --font-size-h3-large-20: 32px;
  --font-size-h3-rem-large-20: 2rem;
  --font-size-h3-small-14: 24px;
  --font-size-h3-rem-small-14: 1.5rem;
  --font-size-h2-default-16: 32px;
  --font-size-h2-rem-default-16: 2rem;
  --font-size-h2-large-20: 40px;
  --font-size-h2-rem-large-20: 2.5rem;
  --font-size-h2-small-14: 32px;
  --font-size-h2-rem-small-14: 2rem;
  --font-size-h1-default-16: 48px;
  --font-size-h1-rem-default-16: 3rem;
  --font-size-h1-large-20: 72px;
  --font-size-h1-rem-large-20: 4.5rem;
  --font-size-h1-small-14: 42px;
  --font-size-h1-rem-small-14: 2.625rem;
  --font-size-hero-default-16: 72px;
  --font-size-hero-rem-default-16: 4.5rem;
  --font-size-hero-large-20: 88px;
  --font-size-hero-rem-large-20: 5.5rem;
  --font-size-hero-small-14: 62px;
  --font-size-hero-rem-small-14: 3.875rem;
  --font-family-base-default-16: "Mona Sans";
  --font-family-base-large-20: "Mona Sans";
  --font-family-base-small-14: "Mona Sans";
  --font-family-code-default-16: "Fira Code";
  --font-family-code-large-20: "Fira Code";
  --font-family-code-small-14: "Fira Code";
  --font-serif-default-16: "Inter";
  --font-serif-large-20: "Inter";
  --font-serif-small-14: "Inter";
  --font-family-serif-default-16: "Inter";
  --font-family-serif-large-20: "Inter";
  --font-family-serif-small-14: "Inter";
  --letter-spacing-denser-default-16: -4px;
  --letter-spacing-denser-rem-default-16: -0.25rem;
  --letter-spacing-denser-large-20: -4px;
  --letter-spacing-denser-rem-large-20: -0.25rem;
  --letter-spacing-denser-small-14: -4px;
  --letter-spacing-denser-rem-small-14: -0.25rem;
  --letter-spacing-dense-default-16: -2px;
  --letter-spacing-dense-rem-default-16: -0.125rem;
  --letter-spacing-dense-large-20: -2px;
  --letter-spacing-dense-rem-large-20: -0.125rem;
  --letter-spacing-dense-small-14: -2px;
  --letter-spacing-dense-rem-small-14: -0.125rem;
  --line-height-lg-default-16: 2.2px;
  --line-height-lg-rem-default-16: 0.1375rem;
  --line-height-lg-large-20: 2.6px;
  --line-height-lg-rem-large-20: 0.1625rem;
  --line-height-lg-small-14: 2.2px;
  --line-height-lg-rem-small-14: 0.1375rem;
  --font-display-default-16: "Hubot Sans";
  --font-display-large-20: "Hubot Sans";
  --font-display-small-14: "Hubot Sans";
  --line-height-sm-default-16: 1.4px;
  --line-height-sm-rem-default-16: 0.0875rem;
  --line-height-sm-large-20: 1.8px;
  --line-height-sm-rem-large-20: 0.1125rem;
  --line-height-sm-small-14: 1.4px;
  --line-height-sm-rem-small-14: 0.0875rem;
  --line-height-base-default-16: 1.8px;
  --line-height-base-rem-default-16: 0.1125rem;
  --line-height-base-large-20: 2px;
  --line-height-base-rem-large-20: 0.125rem;
  --line-height-base-small-14: 1.8px;
  --line-height-base-rem-small-14: 0.1125rem;
  --line-height-xxl-default-16: 2.6px;
  --line-height-xxl-rem-default-16: 0.1625rem;
  --line-height-xxl-large-20: 2.8px;
  --line-height-xxl-rem-large-20: 0.175rem;
  --line-height-xxl-small-14: 2.8px;
  --line-height-xxl-rem-small-14: 0.175rem;
  --font-weight-light-italic-default-16: "Light Italic";
  --font-weight-light-italic-large-20: "Light Italic";
  --font-weight-light-italic-small-14: "Light Italic";
  --font-weight-regular-italic-default-16: "Italic";
  --font-weight-regular-italic-large-20: "Italic";
  --font-weight-regular-italic-small-14: "Italic";
  --font-weight-semibold-italic-default-16: "SemiBold Italic";
  --font-weight-semibold-italic-large-20: "SemiBold Italic";
  --font-weight-semibold-italic-small-14: "SemiBold Italic";
  --font-weight-bold-italic-default-16: "Bold Italic";
  --font-weight-bold-italic-large-20: "Bold Italic";
  --font-weight-bold-italic-small-14: "Bold Italic";
  --font-weight-variable-400-default-16: "Width: 110, Weight: 400";
  --font-weight-variable-400-large-20: "Width: 110, Weight: 400";
  --font-weight-variable-400-small-14: "Width: 110, Weight: 400";
  --font-weight-variable-600-default-16: "Width: 110, Weight: 600";
  --font-weight-variable-600-large-20: "Width: 110, Weight: 600";
  --font-weight-variable-600-small-14: "Width: 110, Weight: 600";
  --font-weight-variable-400-slnt-default-16: "Width: 110, Weight: 400, Slant: -4";
  --font-weight-variable-400-slnt-large-20: "Width: 110, Weight: 400, Slant: -4";
  --font-weight-variable-400-slnt-small-14: "Width: 110, Weight: 400, Slant: -4";
  --font-weight-mono-regular-default-16: "Regular";
  --font-weight-mono-regular-large-20: "Regular";
  --font-weight-mono-regular-small-14: "Regular";
  --font-weight-mono-retina-default-16: "Retina";
  --font-weight-mono-retina-large-20: "Retina";
  --font-weight-mono-retina-small-14: "Retina";
  --font-weight-mono-light-default-16: "Light";
  --font-weight-mono-light-large-20: "Light";
  --font-weight-mono-light-small-14: "Light";
  --font-weight-mono-semibold-default-16: "SemiBold";
  --font-weight-mono-semibold-large-20: "SemiBolde";
  --font-weight-mono-semibold-small-14: "SemiBolde";
  --font-weight-variable-600-slnt-default-16: "Wdth: 110, Wght: 600, Slnt: -4";
  --font-weight-variable-600-slnt-large-20: "Wdth: 110, Wght: 600, Slnt: -4";
  --font-weight-variable-600-slnt-small-14: "Wdth: 110, Wght: 600, Slnt: -4";
  --letter-spacing-normal-default-16: 0px;
  --letter-spacing-normal-rem-default-16: 0rem;
  --letter-spacing-normal-large-20: 0px;
  --letter-spacing-normal-rem-large-20: 0rem;
  --letter-spacing-normal-small-14: 0px;
  --letter-spacing-normal-rem-small-14: 0rem;
  --font-size-xs-default-16: 12px;
  --font-size-xs-rem-default-16: 0.75rem;
  --font-size-xs-large-20: 14px;
  --font-size-xs-rem-large-20: 0.875rem;
  --font-size-xs-small-14: 6px;
  --font-size-xs-rem-small-14: 0.375rem;
  --font-size-h4-default-16: 20px;
  --font-size-h4-rem-default-16: 1.25rem;
  --font-size-h4-large-20: 24px;
  --font-size-h4-rem-large-20: 1.5rem;
  --font-size-h4-small-14: 18px;
  --font-size-h4-rem-small-14: 1.125rem;
  --letter-spacing-loose-default-16: 2px;
  --letter-spacing-loose-rem-default-16: 0.125rem;
  --letter-spacing-loose-large-20: 2px;
  --letter-spacing-loose-rem-large-20: 0.125rem;
  --letter-spacing-loose-small-14: 2px;
  --letter-spacing-loose-rem-small-14: 0.125rem;
  --letter-spacing-looser-default-16: 4px;
  --letter-spacing-looser-rem-default-16: 0.25rem;
  --letter-spacing-looser-large-20: 4px;
  --letter-spacing-looser-rem-large-20: 0.25rem;
  --letter-spacing-looser-small-14: 4px;
  --letter-spacing-looser-rem-small-14: 0.25rem;
  --line-height-xxs-default-16: 1px;
  --line-height-xxs-rem-default-16: 0.0625rem;
  --line-height-xxs-large-20: 1.4px;
  --line-height-xxs-rem-large-20: 0.0875rem;
  --line-height-xxs-small-14: 1px;
  --line-height-xxs-rem-small-14: 0.0625rem;
  --font-logo-default-16: "Montserrat";
  --font-logo-large-20: "Montserrat";
  --font-logo-small-14: "Montserrat";
  --font-size-xxs-default-16: 10px;
  --font-size-xxs-rem-default-16: 0.625rem;
  --font-size-xxs-large-20: 12px;
  --font-size-xxs-rem-large-20: 0.75rem;
  --font-size-xxs-small-14: 4px;
  --font-size-xxs-rem-small-14: 0.25rem;
  --font-size-h5-default-16: 18px;
  --font-size-h5-rem-default-16: 1.125rem;
  --font-size-h5-large-20: 18px;
  --font-size-h5-rem-large-20: 1.125rem;
  --font-size-h5-small-14: 18px;
  --font-size-h5-rem-small-14: 1.125rem;
  --font-size-h6-default-16: 16px;
  --font-size-h6-rem-default-16: 1rem;
  --font-size-h6-large-20: 16px;
  --font-size-h6-rem-large-20: 1rem;
  --font-size-h6-small-14: 16px;
  --font-size-h6-rem-small-14: 1rem;
  --font-weight-lighter-default-16: 200;
  --font-weight-lighter-large-20: 200;
  --font-weight-lighter-small-14: 200;
  --font-weight-light-default-16: 300;
  --font-weight-light-large-20: 300;
  --font-weight-light-small-14: 300;
  --font-weight-normal-default-16: 400;
  --font-weight-normal-large-20: 400;
  --font-weight-normal-small-14: 400;
  --font-weight-medium-default-16: 500;
  --font-weight-medium-large-20: 500;
  --font-weight-medium-small-14: 500;
  --font-weight-semibold-default-16: 600;
  --font-weight-semibold-large-20: 600;
  --font-weight-semibold-small-14: 600;
  --font-weight-bold-default-16: 700;
  --font-weight-bold-large-20: 700;
  --font-weight-bold-small-14: 700;
  --font-weight-bolder-default-16: 900;
  --font-weight-bolder-large-20: 900;
  --font-weight-bolder-small-14: 900;
  --base-default-16: var(--font-weight-normal);
  --base-large-20: var(--font-weight-normal);
  --base-small-14: var(--font-weight-normal);

  /* COLORS */
  --blue-50-premium: #f7fafc;
  --blue-50-color: #f7fafc;
  --blue-500-premium: #79a4c9;
  --blue-500-color: #79a4c9;
  --blue-200-premium: #d1e0ec;
  --blue-200-color: #d1e0ec;
  --blue-300-premium: #bbd1e4;
  --blue-300-color: #bbd1e4;
  --blue-600-premium: #5089b8;
  --blue-600-color: #5089b8;
  --blue-100-premium: #e5edf4;
  --blue-100-color: #e5edf4;
  --blue-700-premium: #3c709b;
  --blue-700-color: #3c709b;
  --blue-800-premium: #325d80;
  --blue-800-color: #325d80;
  --blue-400-premium: #9ebed8;
  --blue-400-color: #9ebed8;
  --blue-900-premium: #23425b;
  --blue-900-color: #23425b;
  --blue-950-premium: #162838;
  --blue-950-color: #162838;
  --gold-50-premium: #ffffe7;
  --gold-50-color: #ffffe7;
  --gold-100-premium: #fdffc0;
  --gold-100-color: #fdffc0;
  --gold-200-premium: #feff85;
  --gold-200-color: #feff85;
  --gold-300-premium: #fff93f;
  --gold-300-color: #fff93f;
  --gold-400-premium: #ffea0b;
  --gold-400-color: #ffea0b;
  --gold-500-premium: #f4d000;
  --gold-500-color: #f4d000;
  --gold-600-premium: #d3a200;
  --gold-600-color: #d3a200;
  --gold-700-premium: #b47c00;
  --gold-700-color: #b47c00;
  --gold-800-premium: #8a5a09;
  --gold-800-color: #8a5a09;
  --gold-900-premium: #75490e;
  --gold-900-color: #75490e;
  --gold-950-premium: #452603;
  --gold-950-color: #452603;
  --gray-50-premium: #f4f6f7;
  --gray-50-color: #f4f6f7;
  --gray-100-premium: #e2e8eb;
  --gray-100-color: #e2e8eb;
  --gray-200-premium: #c8d3d9;
  --gray-200-color: #c8d3d9;
  --gray-300-premium: #a2b4be;
  --gray-300-color: #a2b4be;
  --gray-400-premium: #758c9b;
  --gray-400-color: #758c9b;
  --gray-500-premium: #5a7180;
  --gray-500-color: #5a7180;
  --gray-600-premium: #4d5f6d;
  --gray-600-color: #4d5f6d;
  --gray-700-premium: #43505b;
  --gray-700-color: #43505b;
  --gray-800-premium: #3c454e;
  --gray-800-color: #3c454e;
  --gray-900-premium: #353c44;
  --gray-900-color: #353c44;
  --gray-950-premium: #20252c;
  --gray-950-color: #20252c;
  --red-50-premium: #ffeeef;
  --red-50-color: #fff0f0;
  --red-100-premium: #fedfdc;
  --red-100-color: #ffdddd;
  --red-200-premium: #fbb9b9;
  --red-200-color: #ffc1c1;
  --red-300-premium: #f09696;
  --red-300-color: #ff9696;
  --red-400-premium: #f09696;
  --red-400-color: #ff5a5a;
  --red-500-premium: #ff2727;
  --red-500-color: #ff2727;
  --red-600-premium: #af5e59;
  --red-600-color: #fb0707;
  --red-700-premium: #89453f;
  --red-700-color: #d40101;
  --red-800-premium: #6d352f;
  --red-800-color: #ae0606;
  --red-900-premium: #522621;
  --red-900-color: #900c0c;
  --green-50-premium: #f0faeb;
  --green-50-color: #f0faeb;
  --green-100-premium: #dff3d4;
  --green-100-color: #dff3d4;
  --green-200-premium: #c0e9ad;
  --green-200-color: #c0e9ad;
  --green-300-premium: #98d97d;
  --green-300-color: #98d97d;
  --green-400-premium: #75c754;
  --green-400-color: #75c754;
  --green-500-premium: #56ac36;
  --green-500-color: #56ac36;
  --green-600-premium: #3f8927;
  --green-600-color: #3f8927;
  --green-700-premium: #326922;
  --green-700-color: #326922;
  --green-800-premium: #2c5420;
  --green-800-color: #2c5420;
  --green-900-premium: #27481f;
  --green-900-color: #27481f;
  --green-950-premium: #11270c;
  --green-950-color: #11270c;
  --orange-50-premium: #fff2ed;
  --orange-50-color: #fff8f2;
  --orange-100-premium: #ffe0d5;
  --orange-100-color: #ffe8d4;
  --orange-200-premium: #febfaa;
  --orange-200-color: #ffd7b3;
  --orange-300-premium: #fd9674;
  --orange-300-color: #ffc38c;
  --orange-400-premium: #fb6c3c;
  --orange-400-color: #ffa555;
  --orange-500-premium: #f94f16;
  --orange-500-color: #ff7901;
  --orange-600-premium: #ea430c;
  --orange-600-color: #d36400;
  --orange-700-premium: #c23a0c;
  --orange-700-color: #ad5200;
  --orange-800-premium: #9a3412;
  --orange-800-color: #8f4400;
  --orange-900-premium: #7c2d12;
  --orange-900-color: #663100;
  --orange-950-premium: #431607;
  --orange-950-color: #3f1e00;
  --pink-50-premium: #fdf2f6;
  --pink-50-color: #fdf2f6;
  --pink-100-premium: #fce7ef;
  --pink-100-color: #fce7ef;
  --pink-200-premium: #fbcfe1;
  --pink-200-color: #fbcfe1;
  --pink-300-premium: #f9a8c9;
  --pink-300-color: #f9a8c9;
  --pink-400-premium: #f472a6;
  --pink-400-color: #f472a6;
  --pink-500-premium: #ec488a;
  --pink-500-color: #ec488a;
  --pink-600-premium: #db2770;
  --pink-600-color: #db2770;
  --pink-700-premium: #be185b;
  --pink-700-color: #be185b;
  --pink-800-premium: #9d174d;
  --pink-800-color: #9d174d;
  --pink-900-premium: #831843;
  --pink-900-color: #831843;
  --purple-50-premium: #f5f3ff;
  --purple-50-color: #f5f3ff;
  --purple-100-premium: #edeafd;
  --purple-100-color: #edeafd;
  --purple-200-premium: #ded7fd;
  --purple-200-color: #ded7fd;
  --purple-300-premium: #c6b7fb;
  --purple-300-color: #c6b7fb;
  --purple-400-premium: #aa8ef7;
  --purple-400-color: #aa8ef7;
  --purple-500-premium: #8e60f2;
  --purple-500-color: #8e60f2;
  --purple-600-premium: #7e3fe8;
  --purple-600-color: #7e3fe8;
  --purple-700-premium: #6f2dd4;
  --purple-700-color: #6f2dd4;
  --purple-800-premium: #5d25b2;
  --purple-800-color: #5d25b2;
  --purple-900-premium: #4e2092;
  --purple-900-color: #4e2092;
  --yellow-50-premium: #feffe6;
  --yellow-50-color: #fff9ed;
  --yellow-100-premium: #faffbd;
  --yellow-100-color: #ffeac0;
  --yellow-200-premium: #faff7e;
  --yellow-200-color: #ffd98e;
  --yellow-300-premium: #fffe35;
  --yellow-300-color: #ffc552;
  --yellow-400-premium: #fff100;
  --yellow-400-color: #eeaf30;
  --yellow-500-premium: #ffd600;
  --yellow-500-color: #cd9629;
  --yellow-600-premium: #dea500;
  --yellow-600-color: #a97c22;
  --yellow-700-premium: #b07500;
  --yellow-700-color: #8b661c;
  --yellow-800-premium: #915b02;
  --yellow-800-color: #725417;
  --yellow-900-premium: #7a4909;
  --yellow-900-color: #513c10;
  --yellow-950-premium: #432300;
  --yellow-950-color: #32250a;
  --cas-50-premium: #fffaeb;
  --cas-50-color: #fffaeb;
  --cas-100-premium: #fff1c6;
  --cas-100-color: #fff1c6;
  --cas-200-premium: #ffe188;
  --cas-200-color: #ffe188;
  --cas-300-premium: #ffcc4a;
  --cas-300-color: #ffcc4a;
  --cas-400-premium: #ffbc33;
  --cas-400-color: #ffbc33;
  --cas-500-premium: #f99307;
  --cas-500-color: #f99307;
  --cas-600-premium: #dd6c02;
  --cas-600-color: #dd6c02;
  --cas-700-premium: #b74a06;
  --cas-700-color: #b74a06;
  --cas-800-premium: #94380c;
  --cas-800-color: #94380c;
  --cas-900-premium: #7a2f0d;
  --cas-900-color: #7a2f0d;
  --cas-950-premium: #461702;
  --cas-950-color: #461702;
  --indigo-50-premium: #efeeff;
  --indigo-50-color: #efeeff;
  --indigo-100-premium: #e2e0ff;
  --indigo-100-color: #e2e0ff;
  --indigo-200-premium: #cac7fe;
  --indigo-200-color: #cac7fe;
  --indigo-300-premium: #aaa5fc;
  --indigo-300-color: #aaa5fc;
  --indigo-400-premium: #8881f8;
  --indigo-400-color: #8881f8;
  --indigo-500-premium: #6c63f1;
  --indigo-500-color: #6c63f1;
  --indigo-600-premium: #5046e5;
  --indigo-600-color: #5046e5;
  --indigo-700-premium: #4138ca;
  --indigo-700-color: #4138ca;
  --indigo-800-premium: #3730a3;
  --indigo-800-color: #3730a3;
  --indigo-900-premium: #332e81;
  --indigo-900-color: #332e81;
  --indigo-950-premium: #1e1b4b;
  --indigo-950-color: #1e1b4b;
  --blue-1000-premium: #430000;
  --blue-1000-color: #ffffff;
  --white-premium: #ffffff;
  --white-color: #ffffff;
  --black-premium: #000000;
  --black-color: #000000;

  /* SIZING */
  --3xs: 2px;
  --3xs-rem: 0.125rem;
  --none: 0px;
  --none-rem: 0rem;
  --xxs: 4px;
  --xxs-rem: 0.25rem;
  --xs: 8px;
  --xs-rem: 0.5rem;
  --sm: 12px;
  --sm-rem: 0.75rem;
  --md: 16px;
  --md-rem: 1rem;
  --lg: 20px;
  --lg-rem: 1.25rem;
  --xl: 24px;
  --xl-rem: 1.5rem;
  --xxl: 32px;
  --xxl-rem: 2rem;
  --3xl: 48px;
  --3xl-rem: 3rem;
  --4xl: 72px;
  --4xl-rem: 4.5rem;
  --gutter: 80px;
  --gutter-rem: 5rem;
}
